<div *ngIf="hideForm == false" class="example-container" style="display: grid;" id="form">
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" (keyup)="onKey($event)" id="mail" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" (keyup)="onKey($event)" id="pass">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
   </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()" id="valid">Valider</button>
</div>
<div *ngIf="hideForm == true">
  <p id="ok">OK</p>
</div>
